htdocs/sites/default/settings.php
htdocs/sites/default/services.yml
htdocs/sites/simpletest
htdocs/sites/default/files
htdocs/sites/all
htdocs/modules/contrib/*
secure/salt.txt
tests/bin/*
tests/behat.yml
tests/vendor/*
logs
.idea
.DS_Store